<!DOCTYPE html>
<html>
<head>
  <title>


  </title>
  <!-- <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="resources/css/custom.css"> -->

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
    
  <script type="text/javascript" src="jquery/jquery.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/popperjs/popper.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js">
  </script>

  <script type="text/javascript" src="js/admincoursedashboard.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">cyberSchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="index" id="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

  <h1>Course Dashboard</h1>
  <h3 id="totalCoursesNumber">Total courses: </h3>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Course ID</th>
      <th scope="col">Course Title</th>
      <th scope="col">Course Description</th>
      <th scope="col">Credit</th>
      <th scope="col">Fee</th>
      <th scope="col">Course Image</th>      
      <th scope="col">Course Type</th>      
      <th scope="col">Teacher</th>      
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>