<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/custom.css">


<script type="text/javascript" src="../jquery/jquery.min.js">
  </script>

  <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bootstrap/popperjs/popper.min.js"></script>
  <script type="text/javascript" src="../js/addcourse.js"></script>

	
</head>
<body>

</body>


</html>